.ea-icon-disabled-theme {
  background-image: url(../images/theme.png) !important;
}
.ea-icon-disabled-module {
  background-image: url(../images/plugin.png) !important;
}
.ea-icon-core {
  background-image: url(../images/cog.png) !important;
}
.ea-icon-check-updates {
  background-image: url(../images/arrow_refresh.png) !important;
}
.ea-icon-link {
  background-image: url(../images/world_link.png) !important;
}
.ea-icon-notes {
  background-image: url(../images/page_white_text.png) !important;
}
.ea-icon-update,
.ea-icon-download {
  background-image: url(../images/disk.png) !important;
}
