.ea-icon-remove-feed-items {
  background-image: url(../images/newspaper_delete.png) !important;
}
.ea-icon-update-feed-items {
  background-image: url(../images/newspaper_go.png) !important;
}
.ea-icon-feed-category {
  background-image: url(../images/tag_orange.png) !important;
}
