.ea-icon-rebuild-permissions {
  background-image: url(../images/shield_start.png) !important;
}
.ea-icon-create-content,
.ea-icon-node_add_page {
  background-image: url(../images/page_add.png) !important;
}
.ea-icon-content-type {
  background-image: url(../images/page.png) !important;
}
