.ea-icon-module {
  background-image: url(../images/plugin.png) !important;
}
.ea-icon-enable-module {
  background-image: url(../images/plugin_add.png) !important;
}
.ea-icon-disable-module {
  background-image: url(../images/plugin_delete.png) !important;
}
.ea-icon-enable-theme {
  background-image: url(../images/page_white_paintbrush.png) !important;
}
.ea-icon-disable-theme {
  background-image: url(../images/page_white.png) !important;
}
.ea-icon-theme,
.ea-icon-default-theme {
  background-image: url(../images/theme.png) !important;
}
.ea-icon-action {
  background-image: url(../images/lightning.png) !important;
}
.ea-icon-clear-cache {
  background-image: url(../images/build_cancel.png) !important;
}
