.ea-system_modules .x-grid-row .x-grid-table {
  border-collapse: separate;
}
.ea-system_modules .x-grid-rowbody {
  padding-left: 5px;
}
.ea-system_modules .x-grid-rowbody table {
  border-collapse: separate;
}
.ea-system_modules .x-grid-rowbody th {
  border: none;
  color: #555555;
  font-size: 8pt;
  font-weight: bold;
}
.ea-system_modules .x-grid-rowbody td {
  padding-left: 5px;
  color: #555555;
  font-size: 8pt;
}
.ea-system_modules .x-grid-rowbody span.ea-module-status-disabled {
  padding-left: 16px;
  padding-right: 5px;
  background: transparent url(../images/bullet_cross.png) no-repeat 0 center !important;
}
.ea-system_modules .x-grid-rowbody span.ea-module-status-enabled {
  padding-left: 16px;
  padding-right: 5px;
  background: transparent url(../images/bullet_tick.png) no-repeat 0 center !important;
}
