.ea-icon-access-rule {
  background-image: url(../images/script.png) !important;
}
.ea-icon-check-rules {
  background-image: url(../images/script_go.png) !important;
}
.ea-icon-permission {
  background-image: url(../images/shield.png) !important;
}
.ea-icon-role {
  background-image: url(../images/group.png) !important;
}
