.ea-user_admin .x-grid-row .x-grid-table {
  border-collapse: separate;
}
.ea-user_admin .x-grid-rowbody {
  padding-left: 5px;
}
.ea-user_admin .x-grid-rowbody table {
  border-collapse: separate;
}
.ea-user_admin .x-grid-rowbody th {
  border: none;
  color: #555555;
  font-size: 8pt;
  font-weight: bold;
}
.ea-user_admin .x-grid-rowbody td {
  padding-left: 5px;
  color: #555555;
  font-size: 8pt;
}
