.ea-icon-language {
  background-image: url(../images/world.png) !important;
}
.ea-icon-enable-language {
  background-image: url(../images/world_add.png) !important;
}
.ea-icon-disable-language {
  background-image: url(../images/world_delete.png) !important;
}
.ea-icon-default-language {
  background-image: url(../images/world_go.png) !important;
}
.ea-icon-import {
  background-image: url(../images/package_in.png) !important;
}
.ea-icon-export {
  background-image: url(../images/package_go.png) !important;
}
